      
        {{>header}}

        <form >
                <input type="text" placeholder="Enter Address">
                <button>Get Weather</button>
        </form>
        <p id="errorDiv"></p>
        <p id="messageDiv"></p>
        {{>footer}}
<script src="/js/app.js" ></script>          