<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/Weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            <header>
                <h1>{{title}}</h1>
                <a href="/">Weather</a>
                <a href="/about">About</a>
                <a href="/help">Help</a>            
            </header>
            <p>
                {{content}}
            </p> 
        </div>
